.header {
    background-color: rgb(235, 94, 13);
    color: rgb(233, 231, 124);
    font-size: 50px;
}

.cart {
    background-color: rgb(8, 41, 185);
    color: rgb(233, 231, 124);
    font-size: 40px;
    margin-top: -58px;
    float: right;
}

.CartItems {
    font-size: 22px;
    background-color: #fff;
    color: black;
}

.items-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.item {
    min-width: 200px;
}
.item__meta {
    text-align: left;
    margin-left: 30px;
}
img {
    height: 150px;
}

button {
    float: right;
}


@media all and (max-width: 576px) {
    .items-list {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 576px) and (max-width: 992px) {
    .items-list {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (min-width: 992px) {
    
}